<h1>Welcome!</h1>
<p>If new to our crappy website... please fill out the form below.</p>

<form class="" action="/create" method="post">
  <input type="text" name="name" value="" placeholder="Full Name">
  <br>
  <input type="text" name="address" value="" placeholder="address">
  <br>
  <input type="text" name="city" value="" placeholder="city">
  <br>
  <input type="text" name="state" value="" placeholder="State">
  <br>
  <input type="text" name="zip" value="" placeholder="zip">
  <br>
  <input type="text" name="country" value="" placeholder="country">
  <br>
  <input type="text" name="email" value="" placeholder="email">
  <br>
  <input type="text" name="phone1" value="" placeholder="Phone 1">
  <br>
  <input type="text" name="phone2" value="" placeholder="Phone 2">
  <br>
  <input type="text" name="phone3" value="" placeholder="Phone 3">
  <br>
  <input type="text" name="username" value="" placeholder="username" required="true">
  <br>
  <input type="password" name="password" value="" placeholder="password" required="true">
  <br>
  <input type="submit" value="submit">
</form>
<br>
<br>
<p>If you are already registerd...please login below.</p>

<form class="" action="/login" method="get">
  <input type="text" name="username" value="" placeholder="username" required="true">
    <br>
  <input type="password" name="password" value="" placeholder="password" required="true">
    <br>
  <input type="submit" name="" value="login">
</form>
